.sectionThree{
    background: #ECF4FF;

}
.sectionThree-wrapper{
    padding: 60px 0;
}
.three-titles{
  max-width: 674px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}
.three-title{
    max-width: 100%;
    font-weight: 700;
    font-size: 48px;
    color: #222222;
   line-height: 100%;
   margin-bottom: 12px;
   
}
.three-text{
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    line-height: 155%;
}
.three-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.three-item{
    max-width: 100%;
}