.sectionTwo-wrapper{
    padding: 40px 0;
}
.two-info{
     max-width: 423px;
     margin: 0 auto;
     text-align: center;
    margin-bottom: 48px;
}
.two-title{
    max-width: 423px;
    font-weight: 700;
    font-size: 48px;
    color: #222222;
   line-height: 100%;
   margin-bottom: 12px;
   
}
.two-text{
    max-width: 423px;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
    line-height: 155%;
}
.two-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.two-item{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.twoList-title{
    font-weight: 700;
    font-size: 24px;
    color: #222222;
   line-height: 100%;
   margin-bottom: 16px;
   
}
.twoList-text{
    max-width: 443px;
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    line-height: 155%;
}
.twoList-img{
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}